<div class="row">
<div class="col-md-6 col-sm-6">
    <div class="card" {% if transfers | length > 5 %}style="
    height:350px;
    overflow:scroll;
    overflow-x:hidden;
"{% endif %}>
        <div class="card-body">
            <h4><i class="fas fa-filter-circle-dollar mr-2"></i> {{ trans("fund.history") }} (Transfers)
            </h4>
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ trans("amount") }}</th>
                        <th>{{ trans("email") }}</th>
                        <th>{{ trans("state2") }}</th>
                        <th>Sent at/Cancelled</th>
                        <th>{{ trans("created_at") }}</th>
                        <th>{{ trans("action") }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if transferts is not empty %}
                    {% for item in transferts %}
                        <tr>
                            <td>{{ item.id }}</td>

                            {% if user.id == item.userId %}
                                <td><p class="text-danger">-{{ item.amount | formatted_price(true) }}</p></td>
                            {% else %}
                                <td><p class="text-success">+{{ item.amount | formatted_price(true) }}</p></td>
                            {% endif %}
                            <td>{{ item.email }}</td>
                            <td>
                                {% if item.state == 'pending' %}
                                    <span class="badge badge-primary">In Pending</span>
                                {% elseif item.state == 'accepted' %}
                                    <span class="badge badge-success">Accepted</span>
                                {% elseif item.state == 'cancelled' %}
                                    <span class="badge badge-warning">Cancelled</span>

                                {% else %}
                                    <span class="badge badge-danger">Refused</span>

                                {% endif %}
                            </td>
                            <td>{{ item.updatedAt ? item.updatedAt | formatted_date('Y/m/d H:i')  : '--' }}</td>

                            <td>{{ item.createdAt ? item.createdAt | formatted_date('Y/m/d H:i')  : '--' }}</td>
                            <td>
                                {% if item.state == 'pending' %}
                                    <a class="btn btn-warning" href="{{ path('fund.cancel', {id: item.id}) }}">Cancel</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}

                    <tr>
                        <td colspan="8">{{ trans("no_record") }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6">
    <div class="card" {% if addMoney | length > 5 %}style="
    height:350px;
    overflow:scroll;
    overflow-x:hidden;
"{% endif %}>
        <div class="card-body">
            <h4><i class="fas fa-filter-circle-dollar mr-2"></i> {{ trans("fund.history") }} (Add Money)
            </h4>
            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ trans("amount") }}</th>
                        <th>{{ trans("created_at") }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if addMoney is not empty %}

                        {% for item in addMoney %}

                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.amount | formatted_price(true, 'none') | trans }}</td>
                                <td>{{ item.createdAt | formatted_date('Y/m/d H:i') }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}

                        <tr>
                            <td colspan="8">{{ trans("no_record") }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>