{% extends "layout.twig" %}

{% block title trans("fund.add") %}

{% block body %}

	<div class="card card-body">
		<h3 class="mb-4 pb-2 text-primary fw-bold">{{ trans("fund.add") }}</h3>
		<form method="POST" action="{{ path('fund.redirect.process') }}">
			<div class="row">

				<div class="col-xl-9 col-sm-12 col-md-12 col-12">
					<div class="row">
						<input type="range" class="custom-range" min="{{ config('fundconfig.min') }}" max="{{ config('fundconfig.max') }}" value="25" id="range" name="amount" onchange="updateTextInput(this.value)">
					</div>

					<div class="row">
						{{ csrf_input() }}
						{% if types is empty %}
							<p>Please enable a payment module for enabled this section</p>

						{% endif %}
						{% for index,type in types %}
							<div class="col-xl-6 col-sm-12 col-md-6 col-12 mt-2">
								<label class="imagecheck mb-2 mt-2">
									<input name="type" type="radio" value="{{ type.name }}" {{ loop.first ? 'checked '}} class="imagecheck-input" data-tax="{{ type.taxAdded }}" data-price="{{ (price * (1 + (type.taxAdded / 100)) )| formatted_price(true) }}"/>
									<div class="card card-large-icons imagecheck-figure">
										<div class="card-icon bg-primary text-white">
											<i class="{{ type.icon }}"></i>
										</div>
										<div class="card-body">
											<p>
												{{ trans("pay_with") }}
												{{ type.title | trans }}
											</p>
											<p class="text-muted">
												{% if type.taxAdded != 0 %}({{ trans("tax") }}
													:
													{{ type.taxAdded ~ "%" }}){% else %}&nbsp;
												{% endif %}
												{% if type.name == 'wallet' and current_user() != null and current_user().wallet != 0 %}({{ current_user().wallet | formatted_price(true, 'none') | trans }})
												{% endif %}
											</p>
										</div>
									</div>
								</label>
							</div>
						{% endfor %}
					</div>

					{% if addMoney is not empty %}

							<h4>{{ trans("fund.history") }}</h4>
							<div class="table-responsive">
								<table class="table table-bordered" >
									<thead>
									<tr>
										<th>#</th>
										<th>{{ trans("amount") }}</th>
										<th>{{ trans("created_at") }}</th>
									</tr>
									</thead>
									<tbody>
									{% for item in addMoney %}
										<tr>
											<td>{{ item.id }}</td>
											<td>{{ item.amount | formatted_price(true, 'none') | trans }}</td>
											<td>{{ item.createdAt | formatted_date('Y/m/d H:i') }}</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>

							</div>
						{% endif %}
				</div>

				<div class="col-xl-3 col-sm-12 col-md-12 col-12">
					<div class="card card-large-icons">
						<div class="card-body">
							<h4>{{ trans("wallet") }}</h4>
							<p>{{ trans("fund.currentwallet", {"%wallet%": current_user().wallet ~ " " ~  config('app.currency' ) | symbol_for}) | raw  }}</p>
							<p id="textInput"></p>
							<button class="btn btn-primary" style="margin-top: 30px;">{{ trans("fund.add") }}</button>
						</div>
					</div>
					</div>
				</div>
			</form>
		</div>
	<div class="card card-body" style="margin-top: 30px;">

		<h3 class="mt-4 pb-2 text-primary fw-bold">{{ trans("fund.sendtouser") }}</h3>
		<span class="text-muted">{{ trans("fund.sendtousersub") }}</span>
		<form method="POST" action="{{ path('fund.transfer') }}">
			{{ csrf_input() }}
			<div class="row">
				<div class="col-sm-12 col-md-6">
					{{ field("email", null, trans('email'), {type: 'email'}) }}
				</div>
				<div class="col-sm-12 col-md-6">
					{{ field("amount", null, trans('amount'), {type: 'number'}) }}
				</div>
			</div>

			{% if transfers is not empty %}
				<div class="col-sm-12 col-md-12" >
					<h4>{{ trans("fund.history") }}</h4>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>#</th>
								<th>{{ trans("amount") }}</th>
								<th>{{ trans("email") }}</th>
								<th>{{ trans("state2") }}</th>
								<th>Sent at/Cancelled</th>
								<th>{{ trans("created_at") }}</th>
								<th>{{ trans("action") }}</th>
							</tr>
							</thead>
							<tbody>
							{% for item in transfers %}

								<tr>
									<td>{{ item.id }}</td>
									{% if current_user().id == item.userId %}
										<td><p class="text-danger">-{{ item.amount | formatted_price(true) }}</p></td>
									{% else %}
										<td><p class="text-success">+{{ item.amount | formatted_price(true) }}</p></td>
									{% endif %}
									<td>{{ item.email }}</td>
									<td>
										{% if item.state == 'pending' %}
											<span class="badge badge-primary">In Pending</span>
										{% elseif item.state == 'accepted' %}
											<span class="badge badge-success">Accepted</span>
										{% elseif item.state == 'cancelled' %}
											<span class="badge badge-warning">Cancelled</span>
											{% else %}
												<span class="badge badge-danger">Refused</span>
										{% endif %}
											</td>
									<td>{{ item.updatedAt ? item.updatedAt | formatted_date('Y/m/d H:i')  : '--' }}</td>

									<td>{{ item.createdAt ? item.createdAt | formatted_date('Y/m/d H:i')  : '--' }}</td>
									<td>
										{% if item.state == 'pending' and current_user().id == item.userId %}
										<a class="btn btn-warning" href="{{ path('fund.cancel', {id: item.id}) }}">Cancel</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
				</div>
				</div>
				{% endif %}
			<button class="btn btn-primary" style="margin-top: 30px;">{{ trans("send") }}</button>
		</form>
	</div>

    {{ navigation('fund') }}


</div>{% endblock %}{% block scripts %}<script>const currency = "{{ config('app.currency' ) | symbol_for }}"
		window.addEventListener("load", (e) => {
		
		Array.from(document.querySelectorAll(".imagecheck-input")).map(function (el) {
		el.addEventListener("click", function (e) {
		taxChecked = el;
		updateTextInput(document.getElementById("range").value)
		
		})
		if (el.checked) {
		taxChecked = el;
		}
		})
		updateTextInput(document.getElementById("range").value)
		
		})
		let taxChecked;
		
		
		function updateTextInput(val) {
		const tax = taxChecked.dataset.tax / 100;
        {% if _locale == 'fr_FR' %}
		document.getElementById('textInput').innerHTML = "Vous allez recevoir <b>" + val + " " + currency + "</b> sur votre portefeuille virtuel après avoir payé <b>" + (
		val * (1 + tax) 
		).toLocaleString('us', {
		    minimumFractionDigits: 2,
		    maximumFractionDigits: 2
		}) + " " + currency + "</b>";
		{% else %}
		document.getElementById('textInput').innerHTML = "You will receive <b>" + val + " " + currency + "</b> on your virtual wallet after paying <b>" + (
		val * (1 + tax)
		).toLocaleString('us', {
		    minimumFractionDigits: 2,
		    maximumFractionDigits: 2
		}) + " "+ currency +  "</b>";
        
        {% endif %}
		}
        const pin = document.getElementById("pin")
        if (pin != undefined){
            pin.addEventListener("input", function (event) {

            const {value: t, selectionStart: e} = event.target;
            var n = e - countSubStr(t.slice(0, e), /\D/g);
            const a = t.replace(/\D/g, "");
            var i = a.replace(/(\d{0,4})(\d{0,4})(\d{0,4})(\d{0,4}).*/, "$1 $2 $3 $4").trim()
                , n = n + Math.floor((2 + n) / 4);
            event.target.value = i,
                event.target.setSelectionRange(n, n)
        })
        }
		
        const countSubStr = function (t, e) {
            return t.split(e).length - 1
        }

	function dedipassCallback(result){
		setTimeout(() => {
			window.location.reload();
		}, 5000)
	}
		</script>

	<script src="//api.dedipass.com/v1/pay.js"></script>
        {% endblock %}
